.Dashboard-background {
  background-color: var(--primary--dark);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: var(--l);
}

.Dashboard-loginWarning {
  font-family: "Montserrat", sans-serif;
  font-size: 8vmin;
  color: white;

  margin: auto;
  text-align: center;
}
