.dtest-container {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
}
.dtest-graph-container {
    width: max-content;
    height: max-content;
    display: block;
    margin:0px;
    background-color: lightcoral;
    overflow: hidden;
}

.dtest-graph-container svg {
    vertical-align: top;
}

.dtest-button-container {
    display: flex;
    flex-direction: column;
}

.dtest-button {
    background-color: mediumaquamarine;
    color: white;
    height: fit-content;
    padding: var(--m);
}

.dtest-button:hover {
    background-color: darkgoldenrod;
}