.fractal-creator_container {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.fractal-creator-initial_container {
    width:100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.editor-open {
    display: block;
}