/* Fill me in :) */
.centerImage {
  position: fixed;
  top: 30%;
  left: 27%;
  display: block;
}

.dashboard-background {
  background-color: var(--primary--dark);
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.carousel-inner {
  height: 650px;
  width: 100%;
  overflow: hidden;
}
