/*cited: https://www.w3schools.com/howto/howto_css_split_screen.asp */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3
 */
.mode-text {
  color: white;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
}

.mode-background {
  background-color: var(--primary--dark);
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Control the left side */
.left {
  left: 0;
  background-color: var(--primary--dark);
  background-image: url("../../images/simple_creator.png");
  /* background-size: 100% 100%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--primary--dark);
  background-image: url("../../images/advanced_creator.png");
  /* background-size: 100% 100%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--primary--dim);
}

.button:active {
  background-color: var(--primary);
  transform: translateY(4px);
}

h2 {
  color: white;
}

p {
  color: white;
}
