.pixi-test_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.pixi_container {
    display:flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: tomato;
}
.pixi-test_button {
    width: max-content;
    height: max-content;
    position: absolute;
    left: var(--l);
    top: var(--l);
    padding: var(--m);
    color: white;
    background-color: #0008;

}

.pixi-test_button:hover {
    color:black;
    background-color: white;
}