.ButtonGrid-clicked {
  background-color: blue;
}

.ButtonGrid-unclicked {
  background-color: red;
}

.ButtonGrid-startPoint {
  background-color: yellow;
}

.ButtonGrid-endPoint {
  background-color: green;
}

.ButtonGrid-grid {
  margin: auto;
  display: grid;
}

.ButtonGrid-row {
  margin: auto;
  display: flex;
}

.ButtonGrid-button {
  color: white;
  border: solid;
  width: calc(9vmin - var(--s));
  border-color: var(--primary--dark);
  border-width: 0;
  margin: 0.5%;
  aspect-ratio: 1;
}
