.ButtonGrid-clicked {
  background-color: blue;
}

.ButtonGrid-unclicked {
  background-color: red;
}

.ButtonGrid-startpoint {
  background-color: yellow;
}

.ButtonGrid-endpoint {
  background-color: green;
}

.ButtonGrid-button {
  color: white;
}
