.Card-container {
  border-color: white;
  flex: 1 0 21%;
  /* height: 100px; */
}

.Card-svgRenderer {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}
