.create-initial_container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.create-initial_container2 {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-initial-title_text {
    padding: var(--m);
    font-weight: bold;
}

.create-initial-save-button {
    padding: var(--m);
    color: var(--white);
    background-color: lightgreen;
}

.finished {
    background-color: green;
}

.finished:hover {
    background-color: darkgreen;
}

.create-initial_container3 {
    display: flex;
    flex-direction: row;
    background-color: lightseagreen;
}