.fractal-initial-option_container {
    padding: var(--m);
    background-color: var(--white);
}

.fractal-initial-option_container.selected {
    background-color: var(--primary--dim);
}

.done {
    background-color: lightgreen;
}

.fractal-initial-option-title {
    font-weight: bold;
}

.fractal-initial-option-hint {
    font-style: italic;
}