.fractal-navbar_container {
    width: 100%;
    height: var(--xxl);
    padding-right: var(--xxl);
    background-image: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.fractal-navbar-back_button {
    width: var(--xxl);
    height: var(--xxl);
    border-radius: var(--xxl);
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fractal-navbar-back_button:hover {
    background-color: rgba(256, 256, 256, 0.3);
}

.fractal-navbar-sidebar_input {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    flex-grow: 1;
    font-size: var(--l);
}

.fractal-navbar-sidebar_input::placeholder {
    color: rgba(256, 256, 256, 0.5);
}

.fractal-navbar-download_button{
    height: 100%;
    padding: 0 var(--m);
    display: flex;
    align-items: center;
    color: white;
    line-height: 100%;
    font-weight: bold;
}
.fractal-navbar-download_button:hover {
    background-color: rgba(256, 256, 256, 0.3);
}