.sidebar_container {
    height: 100%;
    width: 300px;
    background-color: lightgray;
    overflow-y:scroll;
}

.sidebar-open-initial_button {
    background-color: var(--primary--dim);
    color:var(--white);
    padding: var(--m);
}

.sidebar_input {
    width: 100%;
    padding: var(--m);
}

.sidebar-warning_text {
    color:red;
    display: none;
}

.sidebar-warning_text invalid {
    display: block;
}