.instruction-input-dropdown_container {
    width: 100%;
    position: relative;
}

.instruction-input-dropdown-content_container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    visibility: hidden;
    background-color: white;
    border-radius: 0 0 var(--l) var(--l);
    padding: 0 var(--s) var(--s) var(--s);
}

.instruction-input-small-instruction-icon {
    width: calc(var(--xl)*3/4);
    height: calc(var(--xl)*3/4);
}

.instruction-input-instruction_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: var(--xs);
}

.instruction-input-dropdown_container:hover .instruction-input-dropdown-content_container {
    visibility: visible !important;
}