.operator-edit_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--s);
    justify-content: space-between;
}

.operator-edit-name_text {
    width: var(--l);
    padding: var(--s);
    font-weight: bold;
    text-align: center;
    font-size: var(--m);
}

.operator-edit_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--xl);
    padding: var(--s) 0;

    background-color: whitesmoke;
    text-align: center;
    font-size: var(--s);
}

.operator-edit-remove_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--xl);
    padding: var(--s) 0;
    background-color: tomato;
    text-align: center;
    font-size: var(--s);
    color: whitesmoke
}

.operator-edit-remove_button:hover {
    color: tomato;
    background-color: whitesmoke;
}

.operator-edit_button.selected {
    background-color: seagreen;
    color: whitesmoke;
    
}

.operator-edit_button.spacer {
    flex-grow: 1;
}